### Gradle ###
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/**/build/

### IntelliJ IDEA ###
.idea/
*.iws
*.iml
*.ipr
out/
!**/src/**/out/

.run/

### Eclipse ###
eclipse
.apt_generated
.classpath
.eclipse/
.factorypath
*.launch
.metadata
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/**/bin/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store

### Minecraft Modding ###
run/
libs
!**/src/**/run/
**/src/generated/**/.cache/
repo/
!**/src/**/repo/

# Files from Forge MDK
forge*changelog.txt
/venv/
resources/__pycache__

